.index-table thead>tr>th, .index-table tbody>tr>th, .index-table tfoot>tr>th,
.index-table thead>tr>td, .index-table tbody>tr>td, .index-table tfoot>tr>td
{
    padding: 2px 6px !important;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}


 .modal-body {
     overflow: auto;
     max-height: 450px;
 }
.tag {
    font-size: 10px;
    padding: .3em .4em .4em;
    margin: .3em .1em;
}
.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;

}
.tag a:hover {
    opacity: 1.0
}
.tag .remove {
    vertical-align: bottom;
    top: 0;
}
.tag a {
    margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
    color: #fff;
    margin-bottom: 2px;
}
.label {
    display: inline-block;
}
